<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="/error/401.htm" responseMode="ExecuteURL" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="/error/403.htm" responseMode="ExecuteURL" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error/404.htm" responseMode="ExecuteURL" />
            <remove statusCode="405" subStatusCode="-1" />
            <error statusCode="405" prefixLanguageFilePath="" path="/error/405.htm" responseMode="ExecuteURL" />
            <remove statusCode="406" subStatusCode="-1" />
            <error statusCode="406" prefixLanguageFilePath="" path="/error/406.htm" responseMode="ExecuteURL" />
            <remove statusCode="412" subStatusCode="-1" />
            <error statusCode="412" prefixLanguageFilePath="" path="/error/412.htm" responseMode="ExecuteURL" />
            <remove statusCode="431" subStatusCode="-1" />
            <error statusCode="431" prefixLanguageFilePath="" path="/error/431.htm" responseMode="ExecuteURL" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="/error/500.htm" responseMode="ExecuteURL" />
            <remove statusCode="501" subStatusCode="-1" />
            <error statusCode="501" prefixLanguageFilePath="" path="/error/501.htm" responseMode="ExecuteURL" />
            <remove statusCode="502" subStatusCode="-1" />
            <error statusCode="502" prefixLanguageFilePath="" path="/error/502.htm" responseMode="ExecuteURL" />
        </httpErrors> -->
        <rewrite>
            <rules>
                <rule name="Token Routing" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="(^|&amp;)(tkn/pg)=" />
                    </conditions>
                    <action type="Rewrite" url="request.php" />
                </rule>
                <rule name="Global Educore Router" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="request.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="index.php" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <urlCompression doDynamicCompression="true" />
        <directoryBrowse enabled="false" />
    </system.webServer>
    <system.web>
        <authentication mode="Forms" />
    </system.web>
</configuration>
